ebbe==1.11.0
typing_extensions; python_version < '3.10'

# Dev Dependenciesy
black==23.1.0
certifi
click
importchecker==2.0
pytest==7.2.1
quenouille==1.4.2
urllib3==1.26.14
tox==4.4.5
tqdm==4.31.1
twine==4.0.2
wheel==0.34.2
